body    {
    box-sizing: border-box;
    background-color: lightblue;
    border: 5px solid white;
}

.headings   {
    color: white;
    size: 18px;
}

.word   {
    color: white;
    text-decoration: bold;
}

#dashesHTML {
    color: white;
}